body {
  background: url('../images/background.png') no-repeat fixed;
  background-size: cover;
}

.instructions {
  position: absolute;
  top: 30%;
  width: 40%;
  left: 30%;
  background: rgba(200,200,200,.6);
  border-radius: 20px;
  padding-left: 20px;
  color: black;
}

ul {
  font-size: 16px;
}

.btn {
  background-color: #514263;
  border: none;
}

#witch {
  height: 6.2vw;
  width: auto;
  position: absolute;
  bottom: 4%;
  left: 4%;
}

#bat1 {
  bottom: 40%;
  right: 65%;
}

#bat2 {
  bottom: 70%;
  right: 70%;
}

#bat3 {
  bottom: 55%;
  right: 40%;
}

#bat4 {
  bottom: 40%;
  right: 30%;
}

#bat5 {
  bottom: 20%;
  right: 80%;
}

#bat6 {
  bottom: 80%;
  right: 20%;
}

.bat {
  height: 2.2vw;
  width: auto;
  position: absolute;
}

#house {
  height: 6.5vw;
  width: auto;
  position: absolute;
  top: 55px;
  right: 10.5%;
}
